.slider-container {
  position: relative;
  width: 80%;
  margin: auto;
  overflow: hidden;
  max-width: 1200px;
}

.slider-image {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
  font-size: 24px;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.left-arrow:hover,
.right-arrow:hover {
  background-color: rgba(0, 0, 0, 0.7);
}
